@model VideoStream.Models.UserModel

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Invalid username or password");
    <div>
        <fieldset>
            <legend>
                Login | 
                @Html.ActionLink("Register", "Index", "User")
            </legend>
            @Html.TextBoxFor(u => u.email, new { placeholder = "Username", @class = "TextBox" })
            @Html.ValidationMessageFor(u => u.email)
            @Html.TextBoxFor(u => u.password, new { placeholder = "Password", @class = "TextBox" })
            @Html.ValidationMessageFor(u => u.password)
            <input type="submit" value="Go!" />
        </fieldset>
    </div>
}