<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href=@Url.Content("~/Images/Page/favicon.png") />
    <link rel="stylesheet" href="@Url.Content("~/Content/Site.css")" />
</head>
<body>
    <header id="header">
        <div id="loginDisplay">
            @if (Request.IsAuthenticated) 
            { 
                @Html.Encode(User.Identity.Name)
                @Html.ActionLink("Log Out", "Logout", "User")
            }
            else
            {
                @Html.ActionLink("Log In", "Login", "User")
                <span>
                    |
                </span>
                @Html.ActionLink("Register", "Register", "User")
            }
        </div>
    </header>
    <nav>
        <ul>
            <li>@Html.ActionLink("Newest", "Index", "Home")</li>
            <li>@Html.ActionLink("Music", "Index", "Home")</li>
            @if (Request.IsAuthenticated)
            {
                <li>@Html.ActionLink("MyPEA", "Index", "Home")</li>
            }
            <li>@Html.ActionLink("Link", "Index", "Home")</li>
        </ul>
    </nav>
    <div id="content">
        @RenderBody()
    </div>
    <div id="footer">
        OnTheGoVids Version 0.0.2 All images are the property of their respective owners.
        <div>
            <a href="About.aspx">About</a> | <a href="FAQ.aspx">FAQ</a>
        </div>
    </div>
</body>
</html>